/* Hero Section */
.hero-section {
    width: 100%;
    height: 500px;
    background-image: url('../Images/hero-bg.webp');
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px -180px 250px 0px rgba(0, 0, 0, 0.9);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding-bottom: 30px;
    /* display: none; */
}

.hero-section h1 {
    font-weight: 600;
    font-size: 40px;
}

.hero-section h4 {
    font-weight: 400;
    font-size: 25px;
}

.search-box {
    width: fit-content;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.search-input-box {
    background-color: #fff;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.search-input-box input {
    width: 300px;
    border: none;
    height: 50px;
    padding-left: 10px;
    color: #000;
    outline: none;
    font-size: 15px;
}

.search-input-box input::placeholder {
    color: #000;
}

.search-input-box i {
    width: 40px;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    color: #e72e77;
    cursor: pointer;
}

.search-box button {
    height: 100%;
    width: 150px;
    border: none;
    outline: none;
    background-color: #e72e77;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.search-button-box {
    display: none;
}

/* Popular Searches */
.popular-searches {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.popular-searches h4 {
    font-size: 18px;
}

.popular-searches-links {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

.popular-searches-links a {
    text-decoration: none;
    padding-right: 5px;
    color: #fff;
    border-right: 1px solid rgba(255, 255, 255, 0.9);
}

.popular-searches-links a:last-child {
    padding: 0px;
    border: none;
}

@media (min-width: 840px) and (max-width: 1000px) {

    .hero-section h1 {
        font-size: 30px;
    }

    .hero-section h4 {
        font-size: 20px;
    }

    .popular-searches {
        gap: 10px;
    }

    .search-input-box input {
        height: 40px;
        width: 250px;
    }

    .popular-searches h4 {
        font-size: 15px;
    }

    .popular-searches-links {
        font-size: 12px;
    }
}

/* 680px to 840px */
@media (min-width: 680px) and (max-width:840px) {

    .hero-section h1 {
        font-size: 30px;
    }

    .hero-section h4 {
        font-size: 20px;
    }

    .popular-searches {
        gap: 10px;
    }

    .search-input-box input {
        height: 40px;
        width: 220px;
    }

    .search-box button {
        width: 120px;
    }

    .popular-searches h4 {
        font-size: 15px;
    }

    .popular-searches-links {
        font-size: 12px;
    }
    
}

/* 480px to 680px */
@media (min-width: 480px) and (max-width:680px) {

    .hero-section h1 {
        width: 100%;
        font-size: 30px;
        text-align: start;
        padding-left: 20px;
    }
    
    .hero-section h4 {
        font-size: 20px;
        padding-left: 20px;
    }

    

    .search-button-box {
        position: absolute;
        top: 300px;
        width: 420px;
        height: 60px;
        background-color: #fff;
        border-radius: 5px;
        padding: 0px;
        display: flex;
        align-items: center;
    }

    .search-button-box i:first-child {
        height: 100%;
        width: 60px;
        font-size: 30px;
        background-color: #e72e77;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .search-button-box i:last-child {
        height: 100%;
        width: 60px;
        font-size: 30px;
        color: #e72e77;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .search-button-box h1 {
        height: 100%;
        width: 515px;
        color: #e72e77;
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 600;
    }

    .search-box {
        display: none;
    }

    .popular-searches {
        gap: 10px;
        display: none;
    }

    .search-input-box input {
        height: 40px;
        width: 180px;
    }

    .search-box button {
        width: 120px;
    }

    .popular-searches h4 {
        font-size: 15px;
    }

    .popular-searches-links {
        font-size: 12px;
    }
    
}