/* Login Section */
.login-container {
    width: fit-content;
    height: 600px;
    /* border: 2px solid #000; */
    margin: 20px auto;
    display: flex;
    padding: 20px;
}

.login-container-left {
    height: 100%;
    width: 40%;
    /* border: 2px solid #000; */
    background-image: url('../Images/login-left-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 20px;
    padding-top: 30px;
}

.login-container-left h2 {
    color: #fff;
    font-weight: 400;
    font-size: 40px;
}

.login-container-right {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.login-container-right h2 {
    font-size: 30px;
}

.login-container-right form {
    width: 100%;
    height: fit-content;
    /* border: 2px solid #000; */
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.login-container-right form label{
    font-size: 20px;
    font-weight: 600;
}

.login-container-right form input[type="text"], input[type="password"], input[type="email"]{
    height: 40px;
    padding-left: 20px;
    font-size: 15px;
}

.login-container-right form input[type="button"]{
    height: 40px;
    width: 200px;
    text-align: center;
    align-self: center;
    background-color: #e72e77;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.create-account {
    width: 100%;
    height: 80px;
    /* border: 2px solid #000;  */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.create-account button {
    height: 40px;
    width: 150px;
    font-size: 15px;
    background-color: #3498db;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
}

.or-section {
    width: 100%;
    height: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: none;
}

.or-section h2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    font-size: 15px;
    font-weight: 600;
}

.or-section h2::before, .or-section h2::after {
    content: '';
    width: 260px;
    height: 0.5px;
    background-color: #000;
    display: block;
}

.social-login {
    width: 100%;
    height: 80px;
    /* border: 2px solid #000; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.social-box {
    width: 250px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 18px;
    cursor: pointer;
}

.vendor-signin {
    width: 100%;
    height: 80px;
    /* border: 2px solid #000;  */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.vendor-signin button {
    height: 40px;
    width: 150px;
    font-size: 15px;
    background-color: #3498db;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
}

@media (min-width: 680px) and (max-width: 840px) {
    .login-container {
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        height: fit-content;
    }
    
    .login-container-left {
        width: 100%;
        height: 250px;
        /* border: 5px solid red; */
        background-position: center;
    }

    .login-container-right {
        width: 100%;
    }
}

@media (min-width: 480px) and (max-width: 680px) {
    .login-container {
        width: 100%;
        height: fit-content;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        align-items: center;
        justify-content: center;
    }
    
    .login-container-left {
        width: 100%;
        height: 250px;
        /* border: 5px solid red; */
        background-position: center;
    }

    .login-container-right {
        width: 100%;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .social-box {
        width: 50%;
    }
}

@media (min-width: 280px) and (max-width: 480px) {
    .login-container {
        width: 100%;
        height: fit-content;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        align-items: center;
        justify-content: center;
    }
    
    .login-container-left {
        width: 100%;
        height: 250px;
        /* border: 5px solid red; */
        background-position: center;
    }

    .login-container-right {
        width: 100%;
        background-color: #fff;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .social-box {
        width: 50%;
    }
}