.popular-slider-container {
    /* border: 2px solid #000; */
    padding: 30px 60px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-wrapper {
    width: 100%;
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    user-select: none;
}

.card-wrapper::-webkit-scrollbar {
    display: none;
}

.popular-slider-container i{
    width: 30px;
    height: 30px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: absolute;
    border-radius: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    /* transform: translateY(-50%); */
    cursor: pointer;
}

.popular-slider-container .fa-angle-left  {
    position: absolute;
    left: 45    px;
    z-index: 2;
}

.popular-slider-container i:last-child {
    position: absolute;
    right: 45px;
    z-index: 2;
}

.card {
    width: 380px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* border: 2px solid #000; */
}

.card2 {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0px;
    /* border: 2px solid #000; */
}

.card2 .image-box2 {
    width: 250px;
    height: 280px;
    overflow: hidden;
    /* border: 2px solid #000; */
    background-size: cover;
    border-radius: 10px;
}

.image-box2 img {
    height: 100%;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.card2 .image-box2:hover img {
    transform: scale(1.4);
}

.card2 .content-title {
    font-weight: 400;
    font-size: 15px;
}

.card .image-box {
    width: 180px;
    height: 120px;
}

.card .image-box img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.content-box {
    padding-top: 10px;
    align-self: self-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card .content-title {
    width: 100%;
    font-size: 15px;
    font-weight: 600;
}

.card .content-city {
    display: flex;
    gap: 5px;
}

.card .content-city span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12px;
    font-size: 15px;
    color: #e72e77;
    border-right: 1px solid #e72e77;
    padding-right: 5px;
    font-weight: 400;
}

.card a {
    font-size: 15px;
    color: #e72e77;

}
