* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  user-select: none;
}

html, body{
  overflow-x: hidden;
}


li {
  list-style: none;
}

/* Navbar */
.navbar {
  width: 100%;
  height: 50px;
  background-color: #e72e77;
  color: #fff;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input[type="checkbox"] {
  display: none;
}

#check:checked ~ .sidebar-container {
  transform: translateX(0%);
}

#open-menu {
  font-size: 25px;
  cursor: pointer;
  display: none;
}

#close-menu {
  font-size: 35px;
  cursor: pointer;
  color: #000;
  /* display: none; */
}

.nav-left h1{
  font-size: 28px;
  font-weight: 400;
  cursor: pointer;
}

.nav-left span {
  font-weight: 800;
}

.nav-center {
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 150px;
}

.nav-center ul {
  width: 600px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  font-weight: 400;
  position: relative;
}

.nav-center li {
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  border-bottom: 2px solid #e72e77;
}

.nav-center li:hover {
  border-bottom: 3px solid #fff;
}

.nav-center li h3 {
  font-weight: 400;
  font-size: 16px;
}

.nav-center li .dropdown {
  width: 950px;
  height: fit-content;
  display: flex;
  align-items: start;
  justify-content: space-between;
  background-color: #fff;
  color: #000;
  position: absolute;
  top: 50px;
  left: -20px;
  z-index: 2;
  padding-top: 20px;
  padding-bottom: 40px;
}

.drop-content-section {
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: start;
  justify-content: start;
  /* border: 2px solid #000; */
}

.drop-content-section .vendor-line {
  height: fit-content;
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
  overflow: hidden;
  gap: 20px;
}

.dropdown .type {
  /* border: 2px solid #000; */
  width: 250px;
  height: fit-content;
  color: #000;
  line-height: 25px;
  font-size: 15px;
}

.dropdown .type li {
  border: none;
}

.dropdown .type li:hover {
  font-weight: 600;
}

.dropdown .type li:first-child {
  color: #e72e77;
  font-weight: 600;
  font-size: 16px;
}

.dropdown .type li:last-child a {
  color: #000;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
}

.dropdown .type li:last-child a:hover {
  text-decoration: underline;
}

.drop-img-section h5 {
  font-size: 15px; 
  font-weight: 400; 
}

.drop-img-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.drop-img-list {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  flex-wrap: wrap; 
  row-gap: 20px;
  column-gap: 20px;
  margin-top: 20px;
}

.drop-image {
  text-align: center;
  font-size: 15px;
}

.drop-image img {
  width: 130px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
}

/* Nav Right */
.nav-right {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-right i {
  width: 35px;
  height: 35px;
  background-color: #b4245d;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 55px;
  cursor: pointer;
}

.nav-right button {
  width: 120px;
  height: 35px;
  background-color: #b4245d;
  border-radius: 55px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
}

.search-page {
  width: 100%;
  height: 550px;
  border: 2px solid #000;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #fff;
  z-index: 999;
  display: none;
}

@media (min-width: 1000px) and (max-width: 1280px) {
  .nav-left h1{
    font-size: 20px;
  }

  .nav-center {
    width: 600px;
  }
}

@media (min-width: 840px) and (max-width: 1000px) {
  .navbar {
    height: 40px;
  }
  
  .nav-left h1{
    font-size: 20px;
  }

  .nav-center {
    width: 500px;
  }

  .nav-center li:last-child {
    display: none;
  }

}

/* Max Width : 840px */
@media (max-width: 840px) {

  .nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .nav-center {
    display: none;
  }

  .nav-right {
    width: fit-content;
    gap: 10px;
  }

  #open-menu {
    display: block;
  }

  .sidebar-container {
    transition: all 0.5s ease-in-out;
  }
}

/* 360px to 480px */
@media (max-width: 480px) {
  .navbar {
    padding: 10px;
  }

  .nav-left {
    gap: 5px;
  }  
  
  .nav-left h1 {
      font-size: 20px;
    }

  .nav-right {
    font-size: 15px;
  }

  .nav-right i{
    width: 25px;
    height: 25px;
    font-size: 10px;
  }

  .nav-right button {
    width: 80px;
    height: 25px;
  }

}

/* 280px to 360px */
@media (max-width: 360px) {
  .navbar {
    padding: 10px;
    height: 35px;
    gap: 10px;
  }

  #open-menu {
    font-size: 15px;
  }

  .nav-left {
    gap: 5px;
  }  
  
  .nav-left h1 {
      font-size: 15px;
    }

  .nav-right {
    font-size: 15px;
    gap: 5px;
  }

  .nav-right i{
    width: 25px;
    height: 25px;
    font-size: 10px;
  }

  .nav-right button {
    width: 80px;
    height: 25px;
  }

}